.appeal__inner {
    padding-top: 34px;
}
.appeal__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.appeal__title {
    width: 548px;
    margin: 0;
    font-size: 36px;
    line-height: 26px;
}
.appeal__request {
    width: 175px;
    &--bottom {
        display: none;
    }
}
.appeal__wrapper {
    min-height: 263px;
}
.appeal__image {
    position: relative;
    top: 15px;
    float: left;
    margin-right: 20px;
}
.appeal__image img {
    width: 349px;
    height: 248px;
}

.appeal__text {

    margin: 0;
    padding-right: 65px;
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-weight: bold;
    line-height: 22px;
    text-transform: none;
    // background-image: url("../img/garage.jpg");
    // background-repeat: no-repeat;
    // background-position: 0 15px;
}
.appeal__text span {
    display: block;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 1160px) {
    .appeal__text {
        padding-right: 30px;
    }
}
@media (max-width: 767px) {
    .appeal__title {
        width: 350px;
        font-size: 26px;
    }
    .appeal__image {
        position: static;
    }
    .appeal__image img {
        width: 248px;
        height: 176px;
    }
    .appeal__text {
        padding-right: 0;
    }

}
@media (max-width: 577px ) {
    .appeal {
        padding-bottom: 25px;
    }
    .appeal__image {
        position: static;
        float: none;
        margin-bottom: 10px;
        text-align: center;
    }
    .appeal__text {
        margin-bottom: 20px;
    }
    .appeal__request--top {
        display: none;
    }
    .appeal__request--bottom {
        display: block;
        width: 100%;
    }
}