.footer-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 635px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-nav__item {
    margin-right: 26px;
    &:last-child {
        margin-right: 0;
    }
}

.footer-nav__link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}