.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 572px;
    height: 572px;
    padding-top: 85px;
    padding-bottom: 35px;
}
.intro__inner {
    width: 100%;
    display: flex;
}
.intro__wrapper {
    width: 100%;
    position: relative;
}
.intro__tagline {
    display: block;
    font-size: 40px;
    line-height: 26px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;
}
.intro__buttons {
    position: absolute;
    bottom: 0px;
    margin: 0;
    margin-left: 92px;
}
.intro__btn-estimate {
    width: 240px;
    margin-right: 20px;
    padding: 10px 30px 4px 13px;
    text-align: left;

}
.intro__btn-estimate .btn__icon {
    float: left;
    width: 45px;
    height: 30px;
    margin-right: 11px;
    background-image: url("../img/icon-photo.png");
    background-repeat: no-repeat;
}
@media (max-width: 1160px) {
    .intro__tagline {
        margin-bottom: 150px;
    }
}
@media (max-width: 767px) {
    .intro__tagline {
        font-size: 30px;
        line-height: initial;
    }

}
@media (max-width: 577px) {
    .intro {
        min-height: 290px;
        height: 290px;
        padding-top: 25px;
    }
    .intro__buttons {
        width: 100%;
        left: 0;
        right: 0;
        margin-left: 0;
    }

    .intro__btn-estimate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    .intro__btn-estimate .btn__icon {
        flex-shrink: 0;
    }
    .intro__btn-estimate br {
        display: none;
    }
    .intro__btn-price {
        width: 100%;
    }
}
