.page-header {
    width: 100%;
    background-color: #242424;
}
.page-header__top {
    min-height: 670px;
    background-image: url("../img/index-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}
.page-header__topline {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(76, 76, 76, 0.6);
}
.page-header__topline-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 22px;
    padding-bottom: 15px;
}
.page-header__topline-link {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
    &:hover {
        border-bottom-color: transparent;
    }
}
.page-header__topline-address {
    position: relative;
    width: 270px;
    margin: 0;
    padding-left: 48px;
    line-height: 26px;
    background-image: url("../img/icon-map.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.page-header__address-city {
    display: block;
    font-size: 32px;
    font-weight: bold;
}
.page-header__topline-logo {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 160px;
    height: 157px;
    transform: translateX(-80px);
}
.page-header__topline-logo img {
    width: 160px;
    height: 157px;
}
.page-header__topline-callback {
    width: 270px;
    margin: 0;
    text-align: right;
}

.page-header__address-city,
.page-header__callback-phone {
    margin-bottom: 5px;
}
.page-header__callback-phone {
    display: block;
    font-size: 32px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: none;
}
@media (max-width: 767px) {
    .page-header__topline-address {
        width: 200px;
        padding: 0;
        background-image: none;
    }
    .page-header__topline-callback {
        width: 200px;
    }
    .page-header__address-city {
        font-size: 26px;
    }

    .page-header__topline-link {
        font-size: 18px;
    }
    .page-header__callback-phone {
        font-size: 26px;
    }
}
@media (max-width: 577px ) {
    .page-header__topline {
        min-height: 110px;
    }
    .page-header__top {
        min-height: 460px;
        background-image: none;
        background-color: #242424;
    }
    .page-header__topline-address {
        width: 100%;
    }
    .page-header__topline-logo {
        left: auto;
        right: 20px;
        width: 81px;
        height: 80px;
        top: 50%;
        margin-top: -40px;
        order: 2;
        transform: translateX(0px);
    }
    .page-header__topline-logo img {
        width: 81px;
        height: 80px;
    }
    .page-header__topline-callback {
        text-align: left;
    }
}